* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #13a4ec;
}

body {
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* 1. تحسين حساب الحجم (Box Sizing) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. إزالة الهوامش الافتراضية */
* {
  margin: 0;
}

/* 3. تحسين شكل الخطوط في المتصفحات */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 4. إزالة مشاكل الصور والفيديوهات */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. إزالة ستايلات الخطوط من عناصر الـ Form */
input,
button,
textarea,
select {
  font: inherit;
}
